# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- added by ~/dev/setup/move_project.py ---
.DS_Store
__pycache__/
.ipynb_checkpoints/
node_modules/
.next/
dist/
build/
venv/
.venv/
env/
myenv/
.env
.env.*
*.pem
*.key
